.nav {
	position: fixed;
	top: 0;
	width: 100vw; 
	height: 60px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: #000;
	animation: open .5s forwards;
	z-index: 5;
}

button.PlaneaTatto a{
	color: #fff;
}

button.PlaneaTatto a:hover{
	color: #000 !important;
}

button.PlaneaTatto:hover{
	color: #000 !important;
}

.contactBarNav {
	display: flex;
	justify-content: space-evenly;
}

.socialButtonNav {
	background: none;
	border: none;
	margin: 5px;
	transition: .2s;
}

.socialButtonNav i {
	font-size: 25px;
	margin: 0 !important;
	color: #f1f1f1;
	cursor: pointer;
}

.socialButtonNav:hover {
	transform: scale(1.4);
}


.navImg {
	height: 35px;
}

.navImgContain {
	height: 45px;
	width: 180px;
	background: #fff;
	border-radius: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}

@keyframes open {
	0% {
		transform: translateY(-55px)
	}
	100% {
		transform: translateY(0px)
	}
}

@media screen and (max-width: 600px){
	.PlaneaTatto {
		font-size: 15px;
		margin: none;
		padding: 6px;
	}
	.fo-socialButton{
		margin: 8px;
	}
}
